/* style.css */

html,body{
    height: 100%;
}

/* cover */

#cover
{
    background: #222 url("img/14.jpg")center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    
    display: flex;
    align-items: center;
    
}

.card1
{
    width: 300px;
    height:200px;
}
.card-text
{
    font-size: 20px;

}

#bl,#b
{
    color:black;
}
.form-group
{
    padding-right: 20px;
}
.carousel-item img
{
    width: 1600px;
    height: 800px;
}

#cover-caption
{
    width:100%;
    margin left: 50px;
}

.section-content
{
    padding: 80px 0;
}
